
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  margin: 0;
  padding: 0;
    /* выше установили ограничения для секции */
}

.logo{
  height: 32px;
  width: 183px;
}
/*размеры логотипа*/

.logo_place_header{
  position: absolute;
  top: 30px;
  left: 64px;
}
/*расположение логотипа*/

.header__title{
  margin-top: 0;
  margin-bottom: 0;
  margin: 0;
  align-self: center;
  margin-left: 64px;
  width: 730px;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
  
}
/*стили и расположение заголовка*/

.header__subtitle{
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  z-index: 2;
}
/*стили и расположение текста с сылкой*/

.header__link{
  color: #2f80ed;
  text-decoration: none;
}
/*ссылка из текста*/

.header__main-illustration{
  height: 608px;
  width: 765px;
  background-image: url(../images/header-image.png);
  position: absolute;
  bottom: 0;
  right: 0;
  background-size: cover;
  z-index: 1;
}
/*картинка шапки*/

.header__square-pic{
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}
/*фон картинки*/

.content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
/*главный контейнер*/

.description{
  width: 80%;
  padding: 0;
  margin: 0;
}
/*контейнер для позиционирования таблички*/

.two-columns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
  
}
/*контейнер таблички*/

.two-columns__brief{
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}
/*левая колонка таблицы*/

.two-columns__main-text{
  width: 80%;
  min-width: 784px;
  /*min-height: 272px;*/
  display: flex;
  flex-direction: column;
  
}
/*правая колонка таблицы*/

.two-columns__paragraph{
  align-items: center;
  font-size: 24px;
  font-weight: normal;
  /*height: 100%;*/
  margin: 0;
  padding-bottom: 30px;
  }
/*строки правой колонки*/

.two-columns__paragraph:last-of-type{
  padding: 0;
}

/*.two-columns__paragraph_span{
  margin-top: 30px;
  margin-bottom: 30px;
}
/*строка с Выводом*/

.two-columns__span-accent{
  font-weight: bold;
}
/*начертание для Вывода*/

.digits{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}
/*внешний контейнер*/


.kaufman{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  color: white;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  overflow: hidden;
  
}
/*внешний контейнер черной темы*/

.kaufman__triangle{
  background-image: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  background-size: cover;
  position: absolute;
  top: 0;
  right: -210px;
}
/*треугольник в черной теме*/

.section-title{
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  /*padding-top: 100px;*/
  margin: 0 0 20px 0;
  z-index: 1;
}
/*заголовок*/

.section-subtitle{
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}
/*подзаголовок*/

.table{
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  
}
/*блок с карточками*/

.table__cell{
  width: 250px;
  margin-top: 60px;
  display: flex;
  flex-direction: column; 
}
/*карточка*/

.table__cell_theme_dark{
  width: 200px;
  z-index: 1;
  margin-top: 80px;
}
/*карточка темная тема*/
 
.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
/*заголовок карточки*/

.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding-top: 20px;
  display: flex;                      /*?*/
  flex-direction: column;
  justify-content: space-between; 
}
/*текст карточки*/


.feynman{
  min-height: 790px;
  position: relative;
  background-color: #f2f2f2;
  /*display: flex;*/
  background-image: url(../images/feynman.png);
  background-position-x: left;
  background-position-y: bottom;
  background-repeat: no-repeat;
  width: 100%;
}

.feynman__title{
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin: 100px auto 70px;
  padding: 0;
  text-align: center;
}

.feynman__subtitle{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feynman__link{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
}

.footer{
  width: 100%;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
  min-height: 350px;
  box-sizing: border-box;
}

.footer__columns{
  
  width: 90%;
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  /*text-align: end;*/
  color: white;
  
  
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.footer__column_content_info{
  display: flex;
  flex-direction: column;
  
}

.footer__column-heading{
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column_content_social{
  display: flex;
  flex-direction: column;
  
  
}

.footer__column-links{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 16px;
}

.footer__social-icon{
  height: 16px;
  width: 16px;
  padding-right: 10px;
}

.footer__link{
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__author{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 18px;
  text-align: start;
  text-decoration: none;
  color: white;
}

.logo_place_footer{
  height: 35px;
  
  
}